@mixin flexCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin flexCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flexLeftCenterColumn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

@mixin flexBetweenCenterRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@mixin flexLeftCenterRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}