@import '../../styles/entrypoint';

.body {
	@include m10;
	border: 2px solid #000;
	padding: 10px;
	border-radius: 10px;
  transition: 0.2s;

	@include smallScreen {
		width: 300px;
	}

	.header {
		@include flexCenterRow; 
    
    @include smallScreen {
			@include flexCenterColumn;
		}
	}

  .content {
    @include flexBetweenCenterRow; 
    @include m10;

		border-bottom: 2px dotted $grey;
		padding-bottom: 10px;
  }

	.text {
		color: $darkGrey;
		font-size: 13px;
	}
}
