@font-face {
  font-family: frank-regular;
  src: url('./App/fonts/frank-regular.ttf');
}

@font-face {
  font-family: frank-bold;
  src: url('./App/fonts/frank-bold.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: frank-regular;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
